{delpackage Footer}
{namespace samply.mailing}

/**
 * The footer of the mail
 * @param? locale The locale of the mail
 */
{deltemplate footer}
    {switch $locale}
        {case 'de', 'de_DE'}
            Mit freundlichen Grüßen,{\r}{\n}
            Ihr DKTK-Brückenkopf
        {default}
            Yours sincerely,{\r}{\n}
            Your DKTK Bridgehead
    {/switch}
{/deltemplate}