<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logDir">/var/log/samply/</Property>
        <Property name="fileBaseName">samply.share.client</Property>
        <Property name="fileNameSuffix">.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${logDir}${fileBaseName}${fileNameSuffix}"
                     filePattern="${logDir}$${date:yyyy-MM}/%d{yyyy-MM-dd}-${fileBaseName}-%i${fileNameSuffix}">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <Logger name="org.apache.http" level="warn"/>
        <Logger name="org.jooq" level="info"/>
        <Logger name="org.jooq.Constants" level="error"/>
        <Logger name="org.quartz" level="info"/>
        <Logger name="org.flywaydb" level="warn"/>
        <Logger name="de.samply.common.mdrclient" level="error"/>
    </Loggers>
</Configuration>